{
   "env": {
      "browser": true,
      "es2021": true
   },
   "rules": {
      "unicorn/prevent-abbreviations": "off"
   },
   "extends": [
      "airbnb-typescript/base",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended",
      "prettier"
   ],
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
      "project": "./tsconfig.json"
   },
   "plugins": [
      "@typescript-eslint"
   ]
}