/*REGISTER*/
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 640px;
  height: 460px;
  margin: auto;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  z-index: 100;
}

.form__header {
  height: 67px;
  background-color: #FFF;
  padding: 20px 15px;
  margin-bottom: 0;
}

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px;
  min-height: 280px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 328px;
  padding: 10px 10px 10px 50px;
  margin-bottom: 15px;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.38);
}

.form__input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000;
}

.form__footer {
  margin-top: auto;
  max-width: 40%;
  margin: 0 20px 0 auto;
}

.form__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 30px;
}

.form__btn {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

.btn_add {
  background-color: #2196F3;
  color: #E3F2FD;
  margin-right: 15px;
}

.btn_add:disabled {
  opacity: 0.5;
}

.btn_add:hover {
  background-color: #2196F3;
  color: #E3F2FD;
}

.btn_cancel {
  background-color: #E3F2FD;
  color: #2196F3;
}

.btn_hover {
  background-color: #E3F2FD;
}

/*Form mark*/
.form__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.form__mark.invalid {
  background-color: rgba(242, 78, 30, 0.08);
}

.form__mark.valid {
  background-color: rgba(1, 135, 134, 0.08);
}

.form__mark.default {
  display: none;
}

.form__mark.valid > .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #018786;
  background-image: url("../assets/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__mark.invalid > .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: red;
  background-image: url("../assets/icons/exclamation.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__mark.default > .checkbox {
  display: none;
}

input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 50px transparent;
  -webkit-text-fill-color: #000;
}

input {
  -webkit-box-shadow: inset 0 0 0 50px transparent;
  -webkit-text-fill-color: #000;
}

/* AVATAR */
.form__avatar {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.form__avatar:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form__avatar > img {
  border-radius: 50%;
  width: 198px;
  height: 198px;
}

.avatar__plus {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.form__avatar:hover > .avatar__plus {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hide {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
