/*MAIN*/
.score-wrapper {
  min-height: 800px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.05);
}
/*AVATAR*/
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.avatar img {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
}
/* Table */
.score__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  padding: 20px 0 5px;
}
.avatar-th {
  padding-right: 20px;
}
.profile-th {
  width: 90%;
}
.data-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #333333;
}
.user__email {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
}
.score__data {
  display: flex;
}
.score__label {
  margin-right: 5px;
}
.score__value {
  color: #2196F3;
}