/*MAIN*/
.settings {
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}
/* Кастомизация select */
.label {
  width: 256px; 
  margin-bottom: 20px;
  overflow: hidden; 
  position: relative;
  display: block;
  border-bottom: 1px solid #E5E5E5;
}
.label:after {
  content: url('../assets/icons/arrow.svg');
  position: absolute; 
  right: 0; 
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 20px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
.select {      
  padding: 5px 20px 5px 5px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}
.dropdown,
.dropdown__label,
.dropdown__select {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
.dropdown__name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}